* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    /* max-width: 60%; */
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textarea {
    width: 762px;
    height: 150px;
    border: 2px solid #46344E;
    margin-bottom: 30px;
    padding: 10px;
}
.keyboard {
    width: 762px;
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 5px;
    /* border: 1px solid red; */
    margin-bottom: 30px;
    background-color: #46344E ;
}
.info {

}
.key {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    border: 2px solid #5A5560;
    background-color: #46344E ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.2s;
}
.key:hover {
    background-color: #f7e91ed8;
    transition: all 0.2s;
}
.active {
    background-color: #f7e91ed8;
    border-radius: 50%;
    /* transition: all 1s; */
}
.big {
    flex-grow: 2;
    width: 80px;
    
}
.super {
    width: 340px;
}